<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
{% include "imarket/include/headMeta.html" %}
<style type="text/css">
.rem{font-size: 1.4em;}
</style>
<title>Market Assistance</title>
</head>
<body>
{% include "imarket/include/header.html" %}
<div id="container">
<div id="left">
&nbsp;
</div>
<div id="center">
	<span class=rem >系统需要绑定淘宝卖家帐户哦，在淘宝登陆后再回来使用吧...</span>
	<p><a href="http://container.open.taobao.com/container?appkey=12180748&encode=utf-8">
	<img src="/images/tblogin_button.jpg"></img></a>
</div>
<div id="right"></div>
</div>
{% include "footer.html" %}
</body>
</html>