<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="/css/web.css">
<script type="text/javascript" src="/js/web.js"></script>


<!--
<script type="text/javascript" src="/js/jquery.min-1.4.4.js"></script>
<script type="text/javascript" src="/js/jquery-ui.min-1.8.9.js"></script>
<link rel="stylesheet" type="text/css" href="/css/jquery-ui-sunny.1.8.9.css">
 -->
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="http://libs.baidu.com/jqueryui/1.8.9/jquery-ui.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://libs.baidu.com/jqueryui/1.8.9/themes/sunny/jquery-ui.css">
{% include "common/siteAnalytics.html" %}